{% load staticfiles %}
<html lang="zh_CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add SuperUser</title>

    <!-- Styling -->
    <link href="https://fonts.loli.net/css?family=Open+Sans:300,400,600|Raleway:300,400,700" rel="stylesheet">
    <link href="https://cdnjs.loli.net/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css?v=ec26bd"
          rel="stylesheet">

    <link href="{% static 'assert/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assert/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assert/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'assert/js/main.min.js' %}"></script>
    <script src="{% static 'assert/js/scripts.min.js' %}"></script>
    <script src="{% static 'assert/js/clipboard.min.js' %}"></script>
    <script src="{% static 'assert/js/lightslider.js' %}"></script>
    <script src="{% static 'assert/js/select2.min.js' %}"></script>
    <script src="{% static 'assert/js/dashboard.js' %}"></script>


</head>

<body class=" login" data-phone-cc-input="1">


<div class="c-login c-login--horizontal">
    <div class="c-login__content-wrapper">
        <header class="c-login__head">
            <h2 class="c-login__title">添加超级用户</h2>
        </header>

        <form method="post" action="{% url 'app:guide' %}" class="c-login__content" role="form">{% csrf_token %}
            <div class="providerLinkingFeedback"></div>
            <div class="c-field u-mb-small">
                <label for="inputEmail" class="c-field__label">用户名</label>
                <input class="c-input" type="text" name="username" id="username" placeholder="输入用户名" autofocus>
            </div>

            <div class="c-field u-mb-small">
                <label for="inputPassword" class="c-field__label">邮箱</label>
                <input class="c-input" type="email" name="email" id="email" placeholder="密码"
                       autocomplete="off">
            </div>

            <div class="c-field u-mb-small">
                <label for="inputPassword" class="c-field__label">密码</label>
                <input class="c-input" type="password" name="password" id="password1" placeholder="密码"
                       autocomplete="off">
            </div>

            <button class="c-btn c-btn--success c-btn--fullwidth" type="submit">创建</button>

            <span class="c-divider u-mv-small"></span>
        </form>
    </div>

    <div class="c-login__content-image">
        <img src="{% static 'images/login-right-bg.png' %}" alt="Welcome to RxBlog">

        <h3>RxBlog</h3>
        <p class="u-text-large">欢迎使用RxBlog，首先先创建一个超级用户吧！</p>
    </div>
</div>

</body>
</html>