{% extends 'base.html' %}
{% load staticfiles %}
{% load comments %}
{% block myjs %}
<script type="text/javascript" src="{% static 'js/hc-sticky.js' %}"></script>
{% endblock %}
{% block mycss %}
    <style>
        body {
            {#background: url('https://s2.ax1x.com/2020/02/21/3uAb9A.png');#}
            {#background: url('https://s2.ax1x.com/2020/02/21/3uEIK0.png');#}
            {#background: url('https://s2.ax1x.com/2020/02/21/3uVkPH.png');#}
            {#background: url('https://s2.ax1x.com/2020/02/21/3uV6Q1.png');#}
            {#background-size: 100% 100%;#}
            {#background: url('https://s2.ax1x.com/2020/02/21/3uZjnx.png')#}
            background: url({% static 'images/bg.png'%});
        }
    </style>
{% endblock %}
{% block content %}
    <article>
        <aside>
            <div class="l_box">
                <div class="search">
                    <form action="{% url 'app:search'%}" method="post" name="searchform" id="searchform">
                      <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text">
                      <input name="show" value="title" type="hidden">
                      <input name="tempid" value="1" type="hidden">
                      <input name="tbname" value="news" type="hidden">
                      <input name="Submit" class="input_submit" value="搜索" type="submit">
                    </form>
                </div>
                <div class="fenlei" style="background: rgb(255,255,255,0.9)">
                    <h2>文章分类</h2>
                    <ul>
                        {% for category,num in categories_dict.items %}
                            <li><a href="{% url 'app:article_list' category %}">{{ category }}({{ num }})</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tuijian" style="background: rgb(255,255,255,0.9)">
                    <h2>点击排行</h2>
                    <ul>
                        {% for article in articles %}
                            <li><a href="{% url 'app:post' article.id %}">{{ article.title }}</a> </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="cloud" style="background: rgb(255,255,255,0.9)">
                    <h2>标签云</h2>
                    <ul>
                        <a href="/">陌上花开</a> <a href="/">校园生活</a> <a href="/">html5</a> <a href="/">SumSung</a> <a
                            href="/">青春</a> <a href="/">温暖</a> <a href="/">阳光</a> <a href="/">三星</a><a href="/">索尼</a>
                        <a href="/">华维荣耀</a> <a href="/">三星</a> <a href="/">索尼</a>
                    </ul>
                </div>
                 <div class="guanzhu" style="background: rgb(255,255,255,0.9)">
                    <h2>My Github</h2>
                    <ul>
                      <a href="{{ github_addr }}">站长的Github</a>
                    </ul>
                 </div>
            </div>
        </aside>
        <div class="infosbox" style="background: rgb(255,255,255,0.9)">
            <div class="newsview">
                <h3 class="news_title">{{ article.title }}</h3>
                <div class="bloginfo">
                    <ul>
                        <li class="author">作者：<a href="/">{{ article.author }}</a></li>
                        <li class="lmname">分类: <a href="/">{{ categories_article.name }}</a></li>
                        <li class="timer">时间：{{ article.date }}</li>
                        <li class="view">{{ article.click_num }}人已阅读</li>
                    </ul>
                </div>
                <div class="tags">
                    {#                    {% for categorie in categories %}#}
                    {#                        <a href="/" target="_blank">{{ categorie.name }}</a>#}
                    {#                    {% endfor %}#}
                </div>
                <div class="news_about"><strong>简介</strong>{{ article.desc }}</div>

                <div class="markdown-body">
                    {{ article.content|safe }}
                </div>

            </div>
            <div class="share">
                <p class="diggit"><a
                        href="JavaScript:makeRequest('/e/public/digg/?classid=3&amp;id=19&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');">
                    很赞哦！ </a>(<b id="diggnum">
                    <script type="text/javascript" src="/e/public/ViewClick/?classid=2&id=20&down=5"></script>
                    13</b>)
                </p>
            </div>
            <div class="nextinfo">
                <p>上一篇：<a href="/news/life/2018-03-13/804.html">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
                <p>下一篇：<a href="/news/life/">返回列表</a></p>
            </div>
            <div class="news_pl">
                <h2>文章评论</h2>
                <ul>
                    <div class="gbko">
                        
                    </div>
                </ul>
            </div>
        </div>
    </article>

{% endblock %}

{% block extra_footer %}
    {#设置提交评论#}
    <script type="text/javascript">
        $(document).ready(function() {
        $('#comment_form').submit(function() {
            if ($("#id_honeypot").val().length!=0) {
                        alert("Stop!垃圾评论");
                        return false;
            };
            if ($("#id_name").val().length==0) {
                        alert("Error:请输入您的用户名");
                        $("#id_name").focus();
                        return false;
            };
            if ($("#id_email").val().length==0) {
                        alert("Error:请输入您的邮箱地址");
                        $("#id_email").focus();
                        return false;
            };

            var email=$("#id_email").val();
            if(!email.match(/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/)){
                alert("Error:邮箱不正确！请重新输入");
                $("#id_email").focus();
                return false;
            }

            if ($("#id_comment").val().length==0){
                alert("Error:请输入您的评论");
                $("#id_comment").focus();
                return false;
            };

            $("#id_timestamp").value=event.timeStamp;
            $.ajax({
                type: "POST",
                data: $('#comment_form').serialize(),
                url: "{% comment_form_target %}",
                cache: false,
                dataType: "html",
                success: function(html, textStatus) {
                    window.location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("评论出错，" + errorThrown);
                }
            });
            return false;
            });
        });
    </script>
{% endblock %}
