{% load staticfiles %}
<html lang="zh_CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>

    <!-- Styling -->
    <link href="https://fonts.loli.net/css?family=Open+Sans:300,400,600|Raleway:300,400,700" rel="stylesheet">
    <link href="https://cdnjs.loli.net/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css?v=ec26bd"
          rel="stylesheet">

    <link href="{% static 'assert/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'assert/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'assert/css/custom.css' %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="{% static 'assert/js/main.min.js' %}"></script>
    <script src="{% static 'assert/js/scripts.min.js' %}"></script>
    <script src="{% static 'assert/js/clipboard.min.js' %}"></script>
    <script src="{% static 'assert/js/lightslider.js' %}"></script>
    <script src="{% static 'assert/js/select2.min.js' %}"></script>
    <script src="{% static 'assert/js/dashboard.js' %}"></script>


</head>

<body class=" login" data-phone-cc-input="1">


<div class="c-login c-login--horizontal">
    <div class="c-login__content-wrapper">
        <header class="c-login__head">
            <h2 class="c-login__title">用户注册</h2>
        </header>
        <script>
            if({{ msg }}){
                alert({{ msg }})
            }
        </script>
        <form method="post" action="{% url 'app:register' %}" class="c-login__content" role="form">{% csrf_token %}
            <div class="providerLinkingFeedback"></div>
            <div class="c-field u-mb-small">
                <label for="inputUsername" class="c-field__label">用户名</label>
                <input class="c-input" type="text" name="username" id="username" placeholder="输入用户名" autofocus>
            </div>

            <div class="c-field u-mb-small">
                <label for="inputEmail" class="c-field__label">邮件地址</label>
                <input class="c-input" type="email" name="email"  placeholder="邮件地址"
                       autocomplete="off">
            </div>

            <div class="c-field u-mb-small">
                <label for="inputMobile" class="c-field__label">手机号码</label>
                <input class="c-input" type="text" name="mobile"  placeholder="手机号码"
                       autocomplete="off">
            </div>

            <div class="c-field u-mb-small">
                <label for="inputPassword" class="c-field__label">密码</label>
                <input class="c-input" type="password" id="password1" name="password" placeholder="密码"
                       autocomplete="off">
            </div>

            <div class="c-field u-mb-small">
                <label for="confirmPassword" class="c-field__label">确认密码</label>
                <input class="c-input" name="Password" type="password" id="password2"  placeholder="确认密码"
                       autocomplete="off">
            </div>

             <div class="c-field u-mb-small">
                <label for="inputGithub" class="c-field__label">Github地址</label>
                <input class="c-input" name="github_addr" type="text"  placeholder="Github地址"
                       autocomplete="off">
            </div>

            <button class="c-btn c-btn--success c-btn--fullwidth" type="submit">注册</button>

            <span class="c-divider u-mv-small"></span>

            <div class="row">
                <div class="col-sm-6">
                    <a href="{% url 'app:login' %}" class="c-btn c-btn--secondary c-btn--fullwidth">登陆账户</a>
                </div>
            </div>
        </form>
    </div>

    <div class="c-login__content-image">
        <img src="https://s2.ax1x.com/2020/02/07/1glrDg.png" alt="Welcome to RxBlog">

        <h3>RxBlog</h3>
        <p class="u-text-large">专业的博客系统</p>
    </div>
</div>
<script>
    window.onload = function () {
        document.getElementById("password1").onchange = validatePassword;
        document.getElementById("password2").onchange = validatePassword;
    }

    function validatePassword() {
        let pass2 = document.getElementById("password2").value;
        let pass1 = document.getElementById("password1").value;
        if(pass1 != pass2){
            document.getElementById("password2").setCustomValidity("密码不匹配");
        }
        else{
            document.getElementById("password2").setCustomValidity('');
        }
    }
</script>
</body>
</html>